* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family:"arial black", "helvetica black", "arial", "sans serif";
}

.logo {
    font-size: 2rem;
    font-family: 'Impact',"arial black", "helvetica black", "arial", "sans serif";;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #0b486b;
    color: white;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover{
    font-size: 20px;
}

.imageFondSki {
    height: 120vh;
    background: url('images/imageFond.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.presentation > p{
    position: relative;
    top: 130px;
    width: 30rem;
    font-variant-caps: all-small-caps;
    padding: 10px;
    margin-left: 7.5rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 10px 0;
}

.presentation > p > strong{
    font-size: 2rem;
}

.ordinateur{
    font-size: 2rem;
}

.photo{
    position: relative;
    width: 20rem;
    top: 100px;
    border: rgb(255, 255, 255, 0.5) 35px solid;
    border-radius: 10px 0;
    margin-right: 7.5rem;
}

.profil{
    display: flex;
    justify-content: center;
}

.medecouvrir {
    display: flex;
    justify-content: center;
}

.medecouvrir > p{
    position: relative;
    top: 160px;
    width: 30rem;
    font-variant-caps: all-small-caps;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(0,0,0, 0.5);
    border-radius: 10px 0;
    color: #fff;
}

.formation{
    position: relative;
    top: 220px;
    text-align: center;
    background-color: black;
    block-size: auto;
    padding: 20px;
    font-variant: small-caps;
}

.formation > p{
    font-size: 1.5rem;
    color:white;
}

.formation > h2{
    font-size: 3rem;
    color:white;
}

.fleche{
    font-size: 2.25rem;
}

.formation > hr{
    margin: 10px;
    color: white;
}

.voiture{
    font-size: 2rem;
    margin-top: 20px;
}

.imageFondNY {
    height: 250vh;
    background: url('images/imageFondNY.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.projet > h2{
    position: relative;
    top: 280px;
    text-align: center;
    font-variant: small-caps;
    color: rgb(0, 0, 0, 1);
    padding: 10px;
    font-size: 4rem;
    background-color: rgb(255, 255, 255, 0.25);
}

.yams{
    position: relative;
    top: 325px;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    font-variant-caps: all-small-caps;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0;
}

.de{
    font-size: 2rem;
    margin-top: 5px;
}

.yams > hr{
    margin: 10px auto;
    width: 40rem;
}

.kohfrais{
    position: relative;
    top: 325px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50rem;
    font-variant-caps: all-small-caps;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0;
}

.kohfrais > hr{
    margin: 10px auto;
    width: 40rem;
}

.fenetre{
    font-size: 2rem;
    margin-top: 5px;
}

.langages{
    position: relative;
    top: 400px;
    text-align: center;
    background-color:#0b486b;
    block-size: auto;
    padding: 20px;
    font-variant: small-caps;
    color: #fff;
}

.langages > h2{
    font-size: 3rem;
}

.langages > hr{
    color: #fff;
    margin: 10px auto;
    width: 50rem;
}

.progWeb{
    display: flex;
    justify-content: center;
}

.progWeb > figure > img{
    width: 100px;
    margin: 25px 50px 0 50px;
}

.progWeb > figure > figcaption{
    font-size: 1.5rem;
}

.prog{
    display: flex;
    justify-content: center;
}

.prog > figure > img{
    width: 100px;
    margin: 25px 50px 0 50px;
}

.prog > figure > figcaption{
    font-size: 1.5rem;
}

.lv{
    display: flex;
    justify-content: center;
}

.lv > figure > img{
    width: 100px;
    margin: 25px 50px 0 50px;
}

.lv > figure > figcaption{
    font-size: 1.5rem;
}

.imageFondRennes {
    height: 250vh;
    background: url('images/imagefondRennes.jpeg');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.passions{
    font-variant: small-caps;
    font-size: 1.25rem;
}

.passions > h2{
    position: relative;
    top: 450px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(11,72,107,0.75);
    font-variant:small-caps;
    font-size: 4rem;
    width: fit-content;
    padding: 15px;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 10px 0;
}

.lesport{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 500px;
    width: 60rem;
    text-align: center;
    background-color: #fff;
    color: #0b486b;
    border-radius: 10px 0;
    padding: 20px;
}

.lesport > h3{
    font-size: 2rem;
}

.lesport > hr{
    margin: 10px;
}

.lesport > i{
    margin-top: 10px;
}

.sports{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sports > div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 33%;
}

.sports > div > p{
    margin: 0 5px;
}

.sports > hr{
    margin-top: 10px;
}

.football > h4{
    margin-bottom: 5px;
}

.football > p > i{
    font-size: 2rem;
    margin-top: 5px;
}

.basketball > h4{
    margin-bottom: 5px;
}

.basketball > figure > img{
    width: 35px;
    margin-top: 5px;
}

.formule1 > h4{
    margin-bottom: 5px;
}

.formule1 > figure > img{
    width: 75px;
    margin-top: 10px;
}

.enbref{
    position: relative;
    top: 625px;
    background-color: #fff;
    color: #0b486b;
    block-size: auto;
    text-align: center;
    font-size: 1.25rem;
    font-variant: small-caps;
}

.enbref > h2{
    margin: 10px;
}

.enbref > p{
    line-height: 2rem;
}

.enbref > hr{
    margin:10px 50px;
    color: #0b486b;
}

.contacts{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 45rem;
    background-color: #0b486b;
    font-size: 1.25rem;
    font-variant: small-caps;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
}

.renseignements{
    width: 22.5rem;
}

.renseignements > p{
    text-align: center;
}

.renseignements > p > a{
    color: #fff;
}

.renseignements > p > a:hover{
    color:rgb(255, 255, 255, 0.5);
}

.contacts > hr{
    margin: 10px;
    width: 5px;
    background-color: #fff;
}

.CV{
    width: 22.5rem;
    display: flex;
    flex-direction: row;
}

.CV > img{
    width: 100px;
    margin-right: 10px;
}

.CV > a > img{
    width: 25px;
}

.CV > a{
    position: relative;
    top: 25%;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

.CV > a:hover{
    color: rgb(255, 255, 255, 0.5);
    font-size: 1.05rem;
}

@media all and (max-width: 991px) {

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
        font:'Impact';
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0b486b;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
        z-index: 1;
    }

    .menu li a {
        font-size: 2rem;
        font-family: 'Arial Nova Cond Light';
    }

    .menu li a:hover{
        border: #fff solid 2px;
        padding: 1.75rem;
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }

    .imageFondSki{
        height: 150vh;
    }

    .presentation > p{
        font-variant-caps: all-small-caps;
        padding: 10px;
        margin-left: 0;
        font-size: 1.5rem;
        position: relative;
        width: 25rem;
        top: 85px;
        left: auto;
        right: auto;
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 10px 0 ;
        order: 0;
    }

    .photo{
        display: flex;
        justify-content: center;
        left: auto;
        right: auto;
        margin-bottom: 50px;
        margin-top: 20px;
        margin-right: 0;
        order: 1;
    }

    .profil{
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-wrap: wrap ;
    }

    .medecouvrir > p{
        display: none;
    }

    .formation{
        top: 135px;
    }

    .formation > p{
        font-size: 1rem;
    }

    .formation > hr{
        margin: 10px;
    }

    .fleche{
        font-size: 1.5rem;
    }

    .voiture{
        font-size: 2rem;
        margin-top: 20px;
    }

    .imageFondNY{
        height: 300vh;
    }

    .projet > h2{
        position: relative;
        top: 170px;
        font-size: 2.5rem;
    }
    
    .yams{
        position: relative;
        top: 225px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        font-variant-caps: all-small-caps;
        padding: 10px;
        font-size: 1.25rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 0;
    }
    
    .yams > hr{
        margin: 10px auto;
        width: 250px;
    }

    .kohfrais{
        position: relative;
        top: 225px;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
        font-variant-caps: all-small-caps;
        padding: 10px;
        font-size: 1.25rem;
        text-align: center;
        background-color: rgb(255, 255, 255);
        border-radius: 10px 0;
    }
    
    .kohfrais > hr{
        margin: 10px auto;
        width: 250px;
    }

    .langages > hr{
        width: 325px;
        margin: 10px auto;
    }

    .progWeb{
        display: flex;
        flex-direction: row;
    }

    .progWeb > figure > img{
        width: 35px;
    }

    .progWeb > figure > figcaption{
        font-size: 1rem;
    }

    .prog{
        display: flex;
        flex-direction: row;
    }

    .prog > figure > img{
        width: 35px;
    }

    .prog > figure > figcaption{
        font-size: 1rem;
    }

    .lv{
        display: flex;
        flex-direction: row;
    }

    .lv > figure > img{
        width: 35px;
    }

    .lv > figure > figcaption{
        font-size: 1rem;
    }

    .imageFondRennes{
        height: 350vh;
    }

    .passions > h2{
        font-size: 2rem;
    }

    .lesport{
        width: 20rem;
    }

    .sports{
        display: flex;
        flex-direction:column;
    }

    .sports > div{
        width: 18rem;
    }

    .enbref{
        top: 560px;
    }

    .enbref > p{
        margin: 0 10px;
        font-size: 1rem;
    }

    .enbref > h2{
        margin-top: 15px;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        width: 25rem;
    }

    .contacts > hr{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        height: 5px;
        border-radius: 2px;
    }

    .CV > a{
        position: relative;
        top: 40px;
    }
}

