html{
    color: #145DA0;
}

header {
    background-color: #333;
    color: #fff;
    position: sticky;
    z-index: 2;
    top: 0;
    visibility: hidden;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar > ul > li {
    margin: 0 15px;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease !important;
}

.menu-link:hover{
    color: #E8DBCE;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform :scale(1);
    transition: 2s;
    overflow: hidden;
}

.home::before{
    content: "";
    background: url(images/photoFondMarrakech.jpeg) center/cover no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.overlay p {
    font-size: 1.5em;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(20, 93, 160, 0.5);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation-buttons a:hover {
    background-color: #145DA0;
}

.photo-profil img {
    width: 15rem;
}

.about-me-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    background-color: #145DA0; 
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: sticky;
}

.about-me-header-title {
    margin-left: auto;
    margin-right: auto;
    left: 3rem;
    align-self: center;
    position: relative;
    font-size: 1.75rem;
    visibility: hidden;
    padding: 1rem;
    color: #145DA0;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-header-description {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    color: white;
    position: relative;
    font-size: 1.50rem;
    visibility: hidden;
}

.animateLeft{
    animation: slideInLeft 1s ease-out;
    visibility: visible;
}

.animateRight{
    animation: slideInRight 1s ease-out;
    visibility: visible;
}

.animateTop{
    animation: slideInTop 1s ease-out;
    visibility: visible;
}

.animateBottom{
    animation: slideInBottom 1s ease-out;
    visibility: visible;
}

.animateFade{
    animation: fadeIn 2s;
    visibility: visible;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.about-me > hr {
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0;
    height: 1px;
    background: #145DA0;
    background-image: linear-gradient(to right, #ccc, #145DA0, #ccc);
}

.about-me-iut{
    margin: 5rem;
    display: flex;
    flex-direction: row;
}

.about-me-informations-iut {
    display: flex;
    flex-direction: column;
}

.about-me-informations-iut > p:first-of-type{
    font-size: 1.5rem;
    text-decoration: solid;
    padding: 1rem;
    background-color: #145DA0;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-informations-iut > p:last-of-type{
    font-size: 1.25rem;
    margin-left: 2rem;
}

.about-me-picture-iut {
    display: flex;
    flex-direction: row;
}

.about-me-picture-iut > a {
    display: flex;
    align-items: center;
}

.about-me-picture-iut > a:first-of-type > img{
    width: 5rem;
    margin: 2rem;
    transition: 1s ease;
}

.about-me-picture-iut > a > img:hover{
    scale: 1.1;
    transition: 1s ease;
}

.about-me-picture-iut > a:last-of-type > img{
    width: 20rem;
    align-self: center;
    transition: 1s ease;
}

.about-me-cooperl{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-informations-cooperl > p:first-of-type{
    font-size: 1.5rem;
    text-decoration: solid;
    padding: 1rem;
    background-color: #145DA0;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-informations-cooperl > p:last-of-type{
    font-size: 1.25rem;
    margin-left: 2rem;
}

.about-me-picture-cooperl {
    display: flex;
    flex-direction: row;
}

.about-me-picture-cooperl > a{
    display: flex;
}

.about-me-picture-cooperl > a:first-of-type > img{
    width: 20rem;
    align-self: center;
    transition: 1s ease;
}

.about-me-picture-cooperl > a > img:hover{
    scale: 1.1;
    transition: 1s ease;
}

.about-me-picture-cooperl > a:last-of-type > img{
    width: 15rem;
    margin: 1rem;
    align-self: center;
    transition: 1s ease;
}

.and-also{
    text-align: center;
    font-size: 2rem;
}

.about-me-trip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #145DA0;
    color: white;
    margin: 2rem;
    border-radius: 5px;
}

.about-me-trip hr {
    margin-left: 2rem;
}

.about-me-trip-title {
    display: flex;
}

.about-me-trip-title-text {
    font-size: 1.75rem;
    margin: 2rem;
    margin-top: 3rem;
}

.about-me-informations-trip {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: 50rem;
    text-align: justify;
}

.about-me-trip-icon {
    width: 5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#carrousel{
    width: 500px;
    height: 250px;
    border: solid 4px white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 2rem;
}

#container{
    width: 500px;
    height: 250px;
}

.photo {
    width: 500px;
    height: 250px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.carrousel-button{
    position: absolute;
    width: 75px;
    cursor: pointer;
    top: 88px;
}

#g{
    left: 0;
    opacity: 0.5;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#d{
    right: 0;
    opacity: 0.5;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#g:hover{
    transform: scale(1.1) rotate(180deg);
    opacity: 1;
}

#d:hover{
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
}

.about-me-sport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #145DA0;
    color: white;
    margin: 2rem;
    border-radius: 5px;
}

.about-me-sport hr {
    margin-right: 2rem;
}

.about-me-sport-title {
    display: flex;
    justify-content: flex-end;
}

.about-me-sport-title-text {
    font-size: 1.75rem;
    margin: 2rem;
    margin-top: 3rem;
}

.about-me-informations-sport {
    font-size: 1.5rem;
    margin-right: 2rem;
    width: 50rem;
    text-align: justify;
}

.about-me-sport-picture {
    width: 500px;
    height: 250px;
    border: solid 4px white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 2rem;
}

.about-me-sport-picture img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.about-me-sport-icon {
    width: 5rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.skills {
    background-color: #145DA0;
    background-size: cover;
    opacity: 1;
    padding: 1rem;
    margin-top: 5rem;
    padding-top: 2rem;
}

.skills-title-text{
    align-items: center;
    display: flex;
    font-size: 4rem;
    text-align: center;
    color: white;
}

.skills-title-text::before,
.skills-title-text::after {
    background: white;
    content: "";
    flex: 1;
    height: .050em;
    margin: 0 .5em;
}

.informatic-skills {
    display: flex;
    justify-content: space-around;
}

.informatic-skills-web, 
.informatic-skills-poo, 
.informatic-skills-frameworks, 
.informatic-skills-database,
.informatic-skills-other,
.informatic-skills-description{
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.75);
    color: #145DA0;
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    transition: 1s ease;
}

.informatic-skills-description {
    font-size: 1.75rem;
    text-align: justify;
    padding: 2rem;
}

.informatic-skills-web:hover, 
.informatic-skills-poo:hover, 
.informatic-skills-frameworks:hover, 
.informatic-skills-database:hover,
.informatic-skills-other:hover {
    scale: 1.05;
    transition: 1s ease;
    background-color: rgba(255, 255, 255, 0.90);
}

.informatic-skills-web h3, 
.informatic-skills-poo h3, 
.informatic-skills-frameworks h3,
.informatic-skills-database h3,
.informatic-skills-other h3 {
    font-size: 2rem;
    text-align: center;
}

.informatic-skills-poo-logos, 
.informatic-skills-database-logos,
.informatic-skills-other-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.html-css-js {
    display: flex;
}

.typescript {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typescript > img {
   margin: 0;
   width: 6rem;
}

.html-css-js > img {
    width: 6rem;
    object-fit: cover;
    margin: 1rem;
}

.informatic-skills-database-logos img {
    width: 10rem;
    object-fit: cover;
    margin: 1rem;
}

.informatic-skills-other-logos img {
    width: 10rem;
    object-fit: contain;
    margin: 1rem;
}

.informatic-skills-frameworks-logos {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.informatic-skills-frameworks img {
    width: 7.5rem;
    object-fit: contain;
    margin: 1rem;
}

.informatic-skills-frameworks img:first-of-type {
    width: 10rem;
    object-fit: contain;
    margin: 1rem;
}

.informatic-skills-poo-logos img:first-of-type {
    width: 5rem;
    object-fit: cover;
    margin: 1rem;
}

.informatic-skills-poo-logos img:last-of-type {
    width: 10rem;
    object-fit: contain;
    margin: 1rem;
}

.projects{
    padding: 2rem;
}

.projects > h1 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px dashed;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.nba-app-project, .coop-prev-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nba-app-project > h2, .coop-prev-project > h2 {
    font-size: 2rem;
}

.nba-app-project > hr, .coop-prev-project > hr {
    background-color: #145DA0;
    color: #145DA0;
    width: 90%;
}

.nba-app-project > span, .coop-prev-project > span {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}

.nba-app-project > a {
    transition: 1s ease;
}

.nba-app-project > a:hover {
    scale: 1.10;
    transition: 1s ease;
}

.nba-app-project-image{
    width: 30rem;
    border: solid 2px #145DA0;
    margin: 2rem;
    margin-bottom: 4rem;
}

.coop-prev-video {
    width: 30rem;
    border: solid 2px #145DA0;
    margin: 2rem;
}

@media only screen and (max-width: 768px) {
    .navigation-buttons{
        display: flex;
        flex-direction: column;
    }

    .navigation-buttons a {
        margin-top: 10px;
    }

    .navigation-buttons a:hover {
        background-color: white;
    }

    .menu-toggle {
        display: block;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar.show {
        display: flex;
    }

    .navbar > ul {
        display: flex;
        flex-direction: column;
        margin: 10px 0; /* Ajout de cet espacement entre les éléments en mode colonne */
    }

    .navbar > ul > li {
        margin: 10px 0;
    }
}