html{
    color: #145DA0;
}

header {
    background-color: #333;
    color: #fff;
    position: sticky;
    z-index: 2;
    top: 0;
    visibility: hidden;
}

.menu-toggle {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar > ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar > ul > li {
    margin: 0 15px;
}

.menu-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease !important;
}

.menu-link:hover{
    color: #E8DBCE;
}

body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home {
    height: 100vh;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transform :scale(1);
    transition: 2s;
    overflow: hidden;
}

.home::before{
    content: "";
    background: url(images/photoFondMarrakech.jpeg) center/cover no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.overlay p {
    font-size: 1.5em;
}

.navigation-buttons {
    margin-top: 20px;
}

.navigation-buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: rgba(20, 93, 160, 0.5);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation-buttons a:hover {
    background-color: #145DA0;
}

.photo-profil img {
    width: 15rem;
}

.about-me-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40vh;
    background-color: #145DA0; 
    overflow: hidden;
    width: 100%;
    z-index: 1;
    position: sticky;
}

.about-me-header-title {
    margin-left: auto;
    margin-right: auto;
    left: 3rem;
    align-self: center;
    position: relative;
    font-size: 1.75rem;
    visibility: hidden;
    padding: 1rem;
    color: #145DA0;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-header-description {
    margin-right: auto;
    margin-left: auto;
    align-self: center;
    color: white;
    position: relative;
    font-size: 1.50rem;
    visibility: hidden;
}

.animateLeft{
    animation: slideInLeft 1s ease-out;
    visibility: visible;
}

.animateRight{
    animation: slideInRight 1s ease-out;
    visibility: visible;
}

.animateTop{
    animation: slideInTop 1s ease-out;
    visibility: visible;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInTop {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-me > hr {
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0;
    height: 1px;
    background: #145DA0;
    background-image: linear-gradient(to right, #ccc, #145DA0, #ccc);
}

.about-me-iut{
    margin: 5rem;
    display: flex;
    flex-direction: row;
}

.about-me-informations-iut {
    display: flex;
    flex-direction: column;
}

.about-me-informations-iut > p:first-of-type{
    font-size: 1.5rem;
    text-decoration: solid;
    padding: 1rem;
    background-color: #145DA0;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-informations-iut > p:last-of-type{
    font-size: 1.25rem;
    margin-left: 2rem;
}

.about-me-picture-iut {
    display: flex;
    flex-direction: row;
}

.about-me-picture-iut > a {
    display: flex;
    align-items: center;
}

.about-me-picture-iut > a:first-of-type > img{
    width: 5rem;
    margin: 2rem;
}

.about-me-picture-iut > a:last-of-type > img{
    width: 20rem;
    align-self: center;
}

.about-me-cooperl{
    margin: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me-informations-cooperl > p:first-of-type{
    font-size: 1.5rem;
    text-decoration: solid;
    padding: 1rem;
    background-color: #145DA0;
    color: white;
    border-radius: 5px;
    width: fit-content;
}

.about-me-informations-cooperl > p:last-of-type{
    font-size: 1.25rem;
    margin-left: 2rem;
}

.about-me-picture-cooperl {
    display: flex;
    flex-direction: row;
}

.about-me-picture-cooperl > a{
    display: flex;
}

.about-me-picture-cooperl > a:first-of-type > img{
    width: 20rem;
    align-self: center;
}

.about-me-picture-cooperl > a:last-of-type > img{
    width: 15rem;
    align-self: center;
}

.and-also{
    text-align: center;
    font-size: 2rem;
}

.about-me-trip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #145DA0;
    color: white;
    margin: 2rem;
    border-radius: 5px;
}

.about-me-trip hr {
    margin-left: 2rem;
}

.about-me-trip-title {
    display: flex;
}

.about-me-trip-title-text {
    font-size: 1.75rem;
    margin: 2rem;
    margin-top: 3rem;
}

.about-me-informations-trip {
    font-size: 1.5rem;
    margin-left: 2rem;
    width: 50rem;
    text-align: justify;
}

.about-me-trip-icon {
    width: 5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#carrousel{
    width: 500px;
    height: 250px;
    border: solid 4px white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 2rem;
}

#container{
    width: 500px;
    height: 250px;
}

.photo {
    width: 500px;
    height: 250px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}

.carrousel-button{
    position: absolute;
    width: 75px;
    cursor: pointer;
    top: 88px;
}

#g{
    left: 0;
    opacity: 0.5;
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#d{
    right: 0;
    opacity: 0.5;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

#g:hover{
    transform: scale(1.1) rotate(180deg);
    opacity: 1;
}

#d:hover{
    transform: scale(1.1) rotate(0deg);
    opacity: 1;
}

.about-me-sport {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #145DA0;
    color: white;
    margin: 2rem;
    border-radius: 5px;
}

.about-me-sport hr {
    margin-right: 2rem;
}

.about-me-sport-title {
    display: flex;
    justify-content: flex-end;
}

.about-me-sport-title-text {
    font-size: 1.75rem;
    margin: 2rem;
    margin-top: 3rem;
}

.about-me-informations-sport {
    font-size: 1.5rem;
    margin-right: 2rem;
    width: 50rem;
    text-align: justify;
}

.about-me-sport-picture {
    width: 500px;
    height: 250px;
    border: solid 4px white;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    margin: 2rem;
}

.about-me-sport-picture img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.about-me-sport-icon {
    width: 5rem;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 768px) {
    .navigation-buttons{
        display: flex;
        flex-direction: column;
    }

    .navigation-buttons a {
        margin-top: 10px;
    }

    .navigation-buttons a:hover {
        background-color: white;
    }

    .menu-toggle {
        display: block;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .navbar.show {
        display: flex;
    }

    .navbar > ul {
        display: flex;
        flex-direction: column;
        margin: 10px 0; /* Ajout de cet espacement entre les éléments en mode colonne */
    }

    .navbar > ul > li {
        margin: 10px 0;
    }
}